PORT=
MONGODB_URI=
SLACK_WEBHOOK_URL=
WEBHOOK_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITLAB_CLIENT_ID=
GITLAB_CLIENT_SECRET=
JWT_SECRET=
GITLAB_REDIRECT_URI=
FRONTEND_URL=
BITBUCKET_CLIENT_ID=
BITBUCKET_CLIENT_SECRET=
BITBUCKET_REDIRECT_URI=